<!-- Button to top -->

<div id="button_to_top" data-menuanchor="accueil" class="opacity0">
	<a href="#accueil" style="no_style_a">
		<button class="btn btn-to-top">
			<img src="{{ asset('img/system/defaults/up_arrow.png') }}" alt="" class="btn_up_arrow"/>
			<br/>
		</button>
	</a>
</div>

<div id="logo_each_page" class="opacity0" data-menuanchor="accueil">
	<a href="#accueil">
		<img src="{{ asset('img/system/logo/logo_min.png') }}" alt="Logo" class="Logo"/>
	</a>
</div>