<!-- Button to top -->

<div id="button_to_top" class="opacity0">
	<a href="#accueil" class="no_style_a hidden-xs">
		<button class="btn btn-to-top">
			<img src="{{ asset('img/system/defaults/up_arrow_white.png') }}" alt="" class="btn_up_arrow"/>
			<br/>
		</button>
	</a>
</div>