<!-- BEGIN FOOTER -->
<div class="footer center section" id="section5">
	<br/><br/>

	<div class="row80">
		<h2 class="h2_contact">
			CONTACT
		</h2>

		<form id="" method="post">
	        <div id="" class="">
	            <div class="clearfix " id="">
	            	<label class="" for="objet-button">Email</label>
					<input type="email" name="emailContact" id="emailContact" placeholder="p.a.destremau@gmail.com"/>
				</div>
				<!--	<div class="clearfix ">
	                <label class="" for="objet" style="vertical-align:middle">Objet</label>
	                <input type="text" name="sujetMail" id="objet" maxlength="512" /><span class="ico icoValidation"></span>
	           		</div> -->

	            <div class="clearfix ">
	                <label class="" for="objet-button" style="vertical-align:middle">Objet</label>
	                <select name="sujetMail" id="objet">
	                    <option value="" selected="selected">Sélectionner l'objet de votre demande</option>
	                    <option value="SM0">Changer mes coordonnées bancaires</option>
						<option value="SM1">Changer mon adresse de facturation</option>
						<option value="SM2">Résilier mon offre</option>
						<option value="SM3">Activer votre nouvelle carte sim</option>
						<option value="SM4">Paramétrer ou résoudre une panne de mon mobile</option>
						<option value="SM5">Résoudre une panne de ma Bbox</option>
						<option value="SM6">Comprendre ma facture</option>
						<option value="SM7">Comprendre mes paiements</option>
						<option value="SM8">Les forfaits B&amp;You</option>
						<option value="SM9">Autre demande</option>
					</select>
	          	</div> 	
					
	            <div class="clearfix ">
	                <label class="" for="demande">Demande</label>
	                <textarea name="corpsMail" id="demande" rows="8" cols="50" maxlength="2000" placeholder="Texte limité à 2000 caractères"></textarea><span class="ico icoValidation"></span>
	            </div>

	        </div>

	         <input type="submit" value="Envoyer" class="btn btn-perso-white" title="Envoyer">
	    </form>

	    <br/><br/>
	</div>

	<div class="row border_white_top">
		<div class="row80">
			
			<br/><br/><br/>
			
			<div class="row left multiple_lists footer_part footer_bottom">
				 <div class="col-md-4 col-xs-4">
					 <h4>
					 	A propos
					 </h4>
						<a href="/remerciements">
							Remerciements
						</a><br />
						<a href="/mentions-legales">
							Mentions légales
						</a><br />
				 </div>
				 <div class="col-md-4 col-xs-4"> 
					 <h4>
					 	Besoin d'aide ?
					 </h4>
						<a href="/">
							Plus d'informations
						</a><br />
						<a href="/">
							Dons
						</a><br />
						<a href="/">
							Notre travail
						</a><br />
						<a href="/">
							FAQ
						</a><br />
				 </div>
				 <div class="col-md-4 col-xs-4">
				  <h4>
				  	Toute l'actualité
				  </h4>
					<a href="/">
						Le Blog
					</a><br />
					<a href="/">
						Nouvelles
					</a>
				 </div>
			</div>
		</div>
		<br/><br/><br/><br/>
		<div class="row center margin_top_10 margin_right_30 font10">
			<br/><br/>
			Mission Andina - <a href="{{ path('fos_user_security_login') }}" class="no_style_a">TOUS DROITS RESERVES</a> © 2015
		</div>

	</div>

	
</div>
<!-- END FOOTER -->