{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}

<div id="header" class="row" style="display:none;">
	<ul class="nav nav-tabs nav-justified uppercase" id="menu">
		<li  class="active border_right_li">
			<a href="#accueil" id="btn_section0">
				<span class="glyphicon glyphicon-home white" aria-hidden="true"></span>
			</a>
		</li>
		<li  class="border_right_li">
			<a href="#assoc" id="btn_section1">
				L'association
			</a>
		</li>
		<li class="dropdown border_right_li">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
		      Notre action <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu" role="menu">
		    	<li>
	          		<a href="#ecoliers" id="btn_section2">
	          			Ecoliers
	          		</a>
	          	</li>
	          	<hr/>
	          	<li>
	          		<a href="#etudiants" id="btn_section3">
	          			Etudiants
	          		</a>
	          	</li>
	          	<hr/>
	          	<li>
	          		<a href="#jeunesPro" id="btn_section4">
	          			Jeunes pro
	          		</a>
	          	</li>
		    </ul>
		</li>
	    <!-- <li class="dropdown border_right_li">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#ecoliers" role="button" aria-expanded="false">
	          Ecoliers  <span class="caret"></span>
	        </a>
	        <ul class="dropdown-menu" role="menu">
	          	<li>
	          		<a href="#ecoliers">
	          			Infos
	          		</a>
	          	</li>
	          	<hr/>
	          	<li><a href="#">Photos</a></li>
	          	<li><a href="#">Vidéos</a></li>
	        </ul>
	    </li>
	    <li class="dropdown border_right_li">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#etudiants" role="button" aria-expanded="false">
	          Etudiants  <span class="caret"></span>
	        </a>
	        <ul class="dropdown-menu" role="menu">
	          	<li>
	          		<a href="#etudiants">
	          			Infos
	          		</a>
	          	</li>
	          	<hr/>
	          	<li><a href="#">Photos</a></li>
	          	<li><a href="#">Vidéos</a></li>
	        </ul>
	    </li>
	    <li class="dropdown border_right_li">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#jeunesPro" role="button" aria-expanded="false">
	          Jeunes pro <span class="caret"></span>
	        </a>
	        <ul class="dropdown-menu" role="menu">
	          	<li>
	          		<a href="#jeunesPro">
	          			Infos
	          		</a>
	          	</li>
	          	<hr/>
	          	<li><a href="#">Photos</a></li>
	          	<li><a href="#">Vidéos</a></li>
	        </ul>
	    </li> -->
		<li  class="border_right_li">
			<a href="#actu" id="btn_section5">
				L'actualité
			</a>
		</li>
		<li  class="border_right_li">
			<a href="#footer" id="btn_section6">
				Contact
			</a>
		</li>

		<li  class="header_help_li">
			<a href="#">
				Nous aider
			</a>
		</li>
	</ul>



</div>
