<!-- In construction logo -->

<div id="in_construction">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
			<img src="{{ asset('img/system/defaults/careful.png') }}" alt="" class="careful_sign"/>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> 
			Ce site est encore en construction.
			<br/> 
			Merci de votre patience.
		</div>
	</div>
</div>