<!-- Modal -->
<div class="modal fade" id="modal_article" tabindex="-1" role="dialog" aria-labelledby="modal_articleLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal_articleTitle"></h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 left" id="modal_articlePlace"></div>
          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 right">
            Dernière modification le <span id="modal_articleDate"></span> à <span id="modal_articleTime"></span>
          </div>
          <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
        </div>
        <div class="row modal_content" id="modal_articleContent">
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>