<!-- Language selection  -->

<div id="social_media">  
    <a href="https://www.facebook.com/" target="_blank">
      <div class="social social_fb"></div>
    </a>
    <br/>
    <a href="https://twitter.com/" target="_blank" rel="external">
      <div class="social social_tw"></div>
    </a>
    <br/>

    <a href="http://www.pinterest.com/" target="_blank" rel="external">
      <div class="social social_pti"></div>
    </a>
    <br/>
    <a href="http://instagram.com/" target="_blank" rel="external">
      <div class="social social_nst"></div>
    </a>
    <br/>
    <a href="#">
      <div class="social social_mail"></div>
    </a>
</div>