<!-- Language selection  -->

<div id="social_media" class="hidden-xs">
    <a href="https://www.facebook.com/" target="_blank">
      <div class="social social_fb"></div>
    </a>
    <a href="https://twitter.com/" target="_blank" rel="external">
      <div class="social social_tw"></div>
    </a>
    <a href="#">
      <div class="social social_mail"></div>
    </a>
</div>